Use House_Price prediction dataset. Provide summary statistics (mean,
median, minimum, maximum, standard deviation) of variables (categorical
vs quantitative) such as- For example, if categorical variable is age groups
and quantitative variable is income, then provide summary statistics of
income grouped by the age groups.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('House_Price.csv')

In [3]:
df.head()

,price,crime_rate,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks
0,24.0,0.00632,32.31,0.538,6.575,65.2,4.35,3.81,4.18,4.01,24.7,4.98,YES,5.480,11.1920,River,23,YES,0.049347
1,21.6,0.02731,37.07,0.469,6.421,78.9,4.99,4.70,5.12,5.06,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,0.046146
2,34.7,0.02729,37.07,0.469,7.185,61.1,5.03,4.86,5.01,4.97,22.2,4.03,NO,7.394,101.1200,NaN,38,YES,0.045764
3,33.4,0.03237,32.18,0.458,6.998,45.8,6.21,5.93,6.16,5.96,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0.047151
4,36.2,0.06905,32.18,0.458,7.147,54.2,6.16,5.86,6.37,5.86,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0.039474

Categorical variables ='airport', 'waterbody'

quantitative variable = 'price'

In [14]:
# Group by 'airport' and 'waterbody'
stats = df.groupby('airport')['price'].agg(['mean', 'median', 'min', 'max', 'std'])
print(stats)

              mean  median  min   max       std
airport
NO       20.669163    20.0  5.0  50.0  7.771768
YES      24.041935    22.2  5.0  50.0  9.946519

In [15]:
stats = df.groupby('waterbody')['price'].agg(['mean', 'median', 'min', 'max', 'std'])
print(stats)

                     mean  median  min   max       std
waterbody
Lake            23.211340    22.1  5.0  50.0  9.603091
Lake and River  21.677465    20.7  7.2  43.8  7.975341
River           23.403279    22.0  5.0  50.0  9.383736

In [4]:
def split_data(data, attribute, value):
    return data[data[attribute]==value]

In [8]:
df['airport'].unique()

array(['YES', 'NO'], dtype=object)

In [13]:
for value in df['airport'].unique():
    print('for airport =', value)
    subset = split_data(df, 'airport', value)
    print('mean = ', subset['price'].mean())
    print('min value= ', subset['price'].min())
    print('max value= ', subset['price'].max())
    print('median= ', subset['price'].median())
    print('standard deviation= ', subset['price'].std())
    print('-'*40)

for airport = YES
mean =  24.04193548387097
min value=  5.0
max value=  50.0
median=  22.2
standard deviation=  9.94651874222071
----------------------------------------
for airport = NO
mean =  20.669162995594718
min value=  5.0
max value=  50.0
median=  20.0
standard deviation=  7.771767643539872
----------------------------------------

In [22]:
for value in df['waterbody'].unique():
    print('for waterbody =', value)
    subset = split_data(df, 'waterbody', value)
    print('mean = ', subset['price'].mean())
    print('min value= ', subset['price'].min())
    print('max value= ', subset['price'].max())
    print('median= ', subset['price'].median())
    print('standard deviation= ', subset['price'].std())
    print('-'*40)

for waterbody = River
mean =  23.403278688524587
min value=  5.0
max value=  50.0
median=  22.0
standard deviation=  9.383735646619751
----------------------------------------
for waterbody = Lake
mean =  23.21134020618557
min value=  5.0
max value=  50.0
median=  22.1
standard deviation=  9.603090608070097
----------------------------------------
for waterbody = nan
mean =  nan
min value=  nan
max value=  nan
median=  nan
standard deviation=  nan
----------------------------------------
for waterbody = Lake and River
mean =  21.67746478873239
min value=  7.2
max value=  43.8
median=  20.7
standard deviation=  7.9753405154907435
----------------------------------------