Perform the following operations using Python on the Telecom_Churn
dataset. Compute and display summary statistics for each feature available
in the dataset using separate commands for each statistic. (e.g. minimum
value, maximum value, mean, range, standard deviation, variance and
percentiles).

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv('Customer-Churn.csv')

In [3]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [5]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [6]:
df.TotalCharges = pd.to_numeric(df.TotalCharges, errors='coerce')

In [7]:
df.isnull().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [8]:
df.sort_values(by='TotalCharges')

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
1654,2967-MXRAV,Male,0,Yes,Yes,1,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check,18.80,18.80,No
6489,9318-NKNFC,Male,0,No,No,1,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Mailed check,18.85,18.85,Yes
1151,8992-CEUEN,Female,0,No,No,1,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Electronic check,18.85,18.85,No
4939,9975-SKRNR,Male,0,No,No,1,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,18.90,18.90,No
583,1423-BMPBQ,Female,0,Yes,Yes,1,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Mailed check,19.00,19.00,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3826,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,NaN,No
4380,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,NaN,No
5218,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,NaN,No
6670,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,...,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,NaN,No
6754,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,...,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN,No

In [9]:
df.dropna(inplace=True)

In [10]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    7032.000000  7032.000000     7032.000000   7032.000000
mean        0.162400    32.421786       64.798208   2283.300441
std         0.368844    24.545260       30.085974   2266.771362
min         0.000000     1.000000       18.250000     18.800000
25%         0.000000     9.000000       35.587500    401.450000
50%         0.000000    29.000000       70.350000   1397.475000
75%         0.000000    55.000000       89.862500   3794.737500
max         1.000000    72.000000      118.750000   8684.800000

In [11]:
print('Mean of tenure: ',df['tenure'].mean())
print('Max value of tenure: ',df['tenure'].max())
print('Min value of tenure: ',df['tenure'].min())
print('Std deviation of tenure: ',df['tenure'].std())
print('Variance of tenure: ',df['tenure'].var())
print('25% of tenure: ',df['tenure'].quantile(0.25))
print('50% of tenure: ',df['tenure'].median())
print('75% of tenure: ',df['tenure'].quantile(0.75))

Mean of tenure:  32.421786120591584
Max value of tenure:  72
Min value of tenure:  1
Std deviation of tenure:  24.545259709263256
Variance of tenure:  602.4697741951821
25% of tenure:  9.0
50% of tenure:  29.0
75% of tenure:  55.0

In [12]:
numerical_columns = df.select_dtypes(include=['float64', 'int64']).columns

print("Summary Statistics for Numerical Features:\n")
for column in numerical_columns:
    if(column=='SeniorCitizen'): continue
    print(f"Feature: {column}")
    print(f"Minimum Value: {df[column].min()}")
    print(f"Maximum Value: {df[column].max()}")
    print(f"Mean Value: {df[column].mean()}")
    print(f"Range: {df[column].max() - df[column].min()}")
    print(f"Standard Deviation: {df[column].std()}")
    print(f"Variance: {df[column].var()}")
    print(f"25th Percentile: {df[column].quantile(0.25)}")
    print(f"50th Percentile (Median): {df[column].median()}")
    print(f"75th Percentile: {df[column].quantile(0.75)}")
    print("-" * 40)

Summary Statistics for Numerical Features:

Feature: tenure
Minimum Value: 1
Maximum Value: 72
Mean Value: 32.421786120591584
Range: 71
Standard Deviation: 24.545259709263256
Variance: 602.4697741951821
25th Percentile: 9.0
50th Percentile (Median): 29.0
75th Percentile: 55.0
----------------------------------------
Feature: MonthlyCharges
Minimum Value: 18.25
Maximum Value: 118.75
Mean Value: 64.79820819112628
Range: 100.5
Standard Deviation: 30.085973884049842
Variance: 905.1658245517292
25th Percentile: 35.5875
50th Percentile (Median): 70.35
75th Percentile: 89.8625
----------------------------------------
Feature: TotalCharges
Minimum Value: 18.8
Maximum Value: 8684.8
Mean Value: 2283.300440841866
Range: 8666.0
Standard Deviation: 2266.771361883145
Variance: 5138252.407053568
25th Percentile: 401.45
50th Percentile (Median): 1397.475
75th Percentile: 3794.7375
----------------------------------------

In [16]:
df.drop(columns=['customerID'], inplace=True)

# for categorical variables
cat_cols = df.select_dtypes(include=['object']).columns

for col in cat_cols:
    print(f"mode of {col}: {df[col].mode()}")

mode of gender: 0    Male
Name: gender, dtype: object
mode of Partner: 0    No
Name: Partner, dtype: object
mode of Dependents: 0    No
Name: Dependents, dtype: object
mode of PhoneService: 0    Yes
Name: PhoneService, dtype: object
mode of MultipleLines: 0    No
Name: MultipleLines, dtype: object
mode of InternetService: 0    Fiber optic
Name: InternetService, dtype: object
mode of OnlineSecurity: 0    No
Name: OnlineSecurity, dtype: object
mode of OnlineBackup: 0    No
Name: OnlineBackup, dtype: object
mode of DeviceProtection: 0    No
Name: DeviceProtection, dtype: object
mode of TechSupport: 0    No
Name: TechSupport, dtype: object
mode of StreamingTV: 0    No
Name: StreamingTV, dtype: object
mode of StreamingMovies: 0    No
Name: StreamingMovies, dtype: object
mode of Contract: 0    Month-to-month
Name: Contract, dtype: object
mode of PaperlessBilling: 0    Yes
Name: PaperlessBilling, dtype: object
mode of PaymentMethod: 0    Electronic check
Name: PaymentMethod, dtype: object
mode of Churn: 0    No
Name: Churn, dtype: object