With reference to Table , obtain the Frequency table for the
attribute age. From the frequency table you have obtained, calculate the
information gain of the frequency table while splitting on Age. (Use step
by step Python/Pandas commands)

In [1]:
import pandas as pd
import numpy as np
from math import log2

# Create the DataFrame
data = {
    'Age': ['Young', 'Young', 'Middle', 'Old', 'Old', 'Old', 'Old', 'Middle', 'Young', 'Young', 'Young', 'Old', 'Young', 'Young', 'Middle', 'Middle', 'Middle', 'Old'],
    'Income': ['High', 'High', 'High', 'Medium', 'Low', 'Low', 'Low', 'Low', 'Medium', 'Low', 'Medium', 'Medium', 'Medium', 'Medium', 'Medium', 'High', 'High', 'Medium'],
    'Married': ['No', 'No', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No'],
    'Health': ['Fair', 'Good', 'Fair', 'Fair', 'Fair', 'Fair', 'Good', 'Good', 'Fair', 'Fair', 'Fair', 'Fair', 'Good', 'Fair', 'Good', 'Fair', 'Fair', 'Good'],
    'Class': ['No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No']
}

df = pd.DataFrame(data)

In [3]:
df

       Age  Income Married Health Class
0    Young    High      No   Fair    No
1    Young    High      No   Good    No
2   Middle    High      No   Fair   Yes
3      Old  Medium      No   Fair   Yes
4      Old     Low     Yes   Fair   Yes
5      Old     Low     Yes   Fair   Yes
6      Old     Low     Yes   Good    No
7   Middle     Low     Yes   Good   Yes
8    Young  Medium      No   Fair    No
9    Young     Low     Yes   Fair   Yes
10   Young  Medium      No   Fair    No
11     Old  Medium     Yes   Fair    No
12   Young  Medium     Yes   Good   Yes
13   Young  Medium     Yes   Fair   Yes
14  Middle  Medium      No   Good   Yes
15  Middle    High     Yes   Fair   Yes
16  Middle    High     Yes   Fair   Yes
17     Old  Medium      No   Good    No

In [4]:
# Frequency table for the Age attribute
age_frequency = df['Age'].value_counts()
print(age_frequency)

Age
Young     7
Old       6
Middle    5
Name: count, dtype: int64

In [5]:
# Function to calculate entropy
def entropy(series):
    value_counts = series.value_counts(normalize=True)
    return -sum(value_counts * np.log2(value_counts))

# Entropy of the whole dataset for the 'Class' attribute
entropy_before = entropy(df['Class'])
print(f"Entropy before the split: {entropy_before}")

Entropy before the split: 0.964078764808229

In [6]:
# Entropy after the split on Age
entropy_after = 0
for age in age_frequency.index:
    subset = df[df['Age'] == age]
    subset_entropy = entropy(subset['Class'])
    weight = len(subset) / len(df)
    entropy_after += weight * subset_entropy

print(f"Weighted entropy after the split on 'Age': {entropy_after}")

Weighted entropy after the split on 'Age': 0.7164776084577644

In [7]:
# Information Gain
information_gain = entropy_before - entropy_after
print(f"Information Gain when splitting on 'Age': {information_gain}")

Information Gain when splitting on 'Age': 0.24760115635046454